<div style="text-align: center; flex-direction:row">
  <p>
    <form id="form" action="/employees" method="GET">
      <div class="input-group">
        <input type="text" name="search" placeholder="Search employees..." class="form-control" required>
        <input type="submit" value="search" class="btn btn-info" style="width: 60px; margin-left:5px">
      </div>
    </form>
  </p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>IDENTITY</th>
      <th>NAME</th>
      <th>DEPARTMENT</th>
      <th>EQUIPMENT</th>
    </tr>
  </thead>
  <tbody>
    {{#each employees}}
    <tr>
      <td> {{ identity }}</a></td>
      <td><a href="/employees/{{_id}}">{{ name }}</a></td>
      <td><a href="/employees/{{_id}}">{{ department }}</a></td>
      <td><a href="/employees/{{_id}}">{{ this.equipmentsId.length }}</a></td>
    </tr>
    </a>
    {{/each}}
  </tbody>
</table>

<div class="add_new">
  <a href="/employees/new" class="btn">Add new</a>
</div>