<div style="text-align: center; flex-direction:row">
  <p>
    <form id="form" action="/employees" method="GET">
      <div class="input-group">
        <input type="text" name="search" placeholder="Search employees..." class="form-control" required>
        <input type="submit" value="search" class="btn btn-info" style="width: 60px; margin-left:5px">
      </div>
    </form>
  </p>
</div>
<div class="tableFixHead">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>IDENTITY</th>
        <th>NAME</th>
        <th>DEPARTMENT</th>
        <th>EQUIPMENT</th>
      </tr>
    </thead>
    <tbody>
      {{#each employees}}
      <tr>
        <td><a href="/employees/{{_id}}">{{ identity }}</a></td>
        <td>{{ name }}</td>
        <td>{{ department }}</td>
        <td>{{ this.equipmentsId.length }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="add_new">
  <a href="/employees/new" class="btn">Add new</a>
</div>