<div class="title-name">
    <h2>Assign Item to {{employee.name}}</h2>
</div>
<div id="assign-container">
    <div class="assign-container-child">
        <button id="refresh-item" onclick="refresh()" name="{{employee.id}}">Refresh</button>
        <table class="table table-hover" id="table-assign-1">
            <thead>
                <tr>
                    <th>CURRENT EQUIPMENT</th>
                </tr>
            </thead>
            <tbody>
                {{#each employee.equipmentsId}}
                <tr>
                    <td>
                        <div>Reference: {{ this}}</div>
                        <button type="button" id="remove-item" onclick="remove()" style="background-color: red;"
                            name="{{ this}}">ELIMINAR</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <table class="table table-hover" id="table-assign-2">
            <thead>
                <tr>
                    <th>CURRENT EQUIPMENT</th>
                </tr>
            </thead>
            <tbody class="refresh-cells">

            </tbody>
        </table>
    </div>
    <div class="assign-container-child">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>AVAIBLE EQUIPMETS</th>
                </tr>
            </thead>
            <tbody>
                {{#each equipment}}
                <tr>
                    <td>
                        <div>
                            <form method="POST">
                                <div id="referenceId">{{this.reference}}</div>
                                <div id="stock-{{this.reference}}"></div>
                                {{!-- <input type="number" name="reference" value="{{this.reference}}"> --}}
                                <button type="button" id="assign-item" onclick="assign()"
                                    style="background-color: green;" name="{{this.reference}}">ASIGNAR</button>
                                <button type="button" id="stock-item" onclick="stock()" style="background-color: grey;"
                                    name="{{this.reference}}">Ver Stock</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>