<h2>ASIGNAR ITEM A {{employee.name}}</h2>
<div id="assign-container">
    <div class="current-equipments">
        <button id="refresh-item" onclick="refresh()" name="{{employee.id}}">Refresh</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>CURRENT EQUIPMENT</th>
                </tr>
            </thead>
            <tbody>
                {{#each employee.equipmentsId}}
                <tr>
                    <td>{{ this}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="current-equipments">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>AVAIBLE EQUIPMETS</th>
                </tr>
            </thead>
            <tbody>
                {{#each equipment}}
                <tr>
                    <td>
                        <div>
                            <form method="POST">
                                <div id="number" name="reference">{{this.reference}}</div>
                                {{!-- <input type="number" name="reference" value="{{this.reference}}"> --}}
                                <button id="assign-item" onclick="assign()" style="background-color: green;"
                                    name="{{this.reference}}">ASIGNAR</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>