<div id="container-show-employee">
    <h2>
        {{equipments.name}}
        <img src="../images/ordenador.svg" alt="icon-show" class="icon-show"></h2>
    <div class="container-show-elements">
        <div class="box-elements">
            <p>Rerefence</p>
            <ul>
                <li>{{equipments.reference}}</li>
            </ul>
        </div>

        <div class="box-elements">
            <p>Name</p>
            <ul>
                <li>{{equipments.name}}</li>
            </ul>
        </div>
        <div class="box-elements">
            <p>Model</p>
            <ul>
                <li>{{equipments.model}}</li>
            </ul>
        </div>
        <div class="box-elements">
            <p>Stock</p>
            <ul>
                <li>{{equipments.stock}}</li>
            </ul>
        </div>
        <div class="box-elements">
            <p>URL</p>
            <ul>
                <a href="{{equipments.url}}">
                    <li>{{equipments.url}}</li>
                </a>
            </ul>
        </div>
    </div>
    <div id="button-cruds">
        <a href="/equipments/{{equipments._id}}/edit">
            <div class="button-edit">EDITAR</div>
        </a>

    </div>
</div>


<div class="container" style="margin-top: 70px; text-align: center;">
    <h2>Item: {{equipments.name}}</h2>
    <form id="form">
        <div>
            <label for="refence">REFERENCE</label><br>
            <input type="number" name="reference" value="{{equipments.reference}}" disabled="disabled">
        </div>
        <div>
            <label for="name">NAME</label><br>
            <input type="text" name="name" value="{{equipments.name}}" disabled="disabled">
        </div>
        <div>
            <label for="model">MODEL</label><br>
            <input type="text" name="model" value="{{equipments.model}}" disabled="disabled">
        </div>
        <div>
            <label for="number">STOCK</label><br>
            <input type="number" name="number" value="{{equipments.stock}}" disabled="disabled">
        </div>
        <div>
            <label for="url">URL</label><br>
            <input type="text" name="url" value="{{equipments.url}}" disabled="disabled">
        </div>
    </form>
    <a href=" /equipments/{{equipments._id}}/edit">
        <button>EDITAR</button>
    </a>
</div>